@charset "UTF-8";
h1 {
  margin: 0; }

h2 {
  margin: 0; }

h3 {
  margin: 0; }

h4 {
  margin: 0; }

h5 {
  margin: 0; }

h6 {
  margin: 0; }

p {
  margin: 0; }

html,
body {
  background-color: #ffffff;
  line-height: 1.6;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 16px;
  color: #494949; }

main {
  display: block; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; }

/**
 *
 */
.c-global-footer__inner, .c-pager__list {
  zoom: 1; }
  .c-global-footer__inner:before, .c-pager__list:before, .c-global-footer__inner:after, .c-pager__list:after {
    content: "";
    display: table; }
  .c-global-footer__inner:after, .c-pager__list:after {
    clear: both; }

.c-global-footer {
  margin-top: 20px;
  padding: 1rem 0 2rem; }

.c-global-header {
  padding: 1em 0; }
  .c-global-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .c-global-header__primary {
    width: 60%; }
  .c-global-header__utility {
    text-align: right;
    width: 40%; }

.c-main-content {
  margin-top: 40px; }

.ads {
  margin-top: 40px; }

.c-archive-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0; }
  .c-archive-list__item {
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
    .c-archive-list__item + .c-archive-list__item {
      margin-top: 20px; }
    .c-archive-list__item:hover {
      background-color: #eeeeee; }

.c-bg-img {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  opacity: 1; }
  .c-bg-img:hover {
    background-size: 110%;
    opacity: 0.8; }

.c-brand {
  display: inline-block; }
  .c-brand a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #494949; }

.c-container {
  max-width: 768px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media screen and (max-width: 768px) {
    .c-container {
      max-width: 768px; } }
  @media screen and (max-width: 768px) {
    .c-container {
      max-width: 768px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (max-width: 320px) {
    .c-container {
      max-width: 320px; } }

.c-description {
  font-size: 14px;
  color: #898989; }

.c-footer-nav {
  text-align: right; }
  .c-footer-nav-item {
    display: inline-block;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    color: #494949; }
    .c-footer-nav-item:hover {
      color: #636363; }

.c-global-nav {
  padding-top: 40px; }
  .c-global-nav__closer {
    text-align: right; }
  .c-global-nav__item {
    display: block;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    margin-top: 2em;
    text-align: center;
    font-size: 24px; }
    .c-global-nav__item + .c-global-nav__item {
      margin-top: 0.8em; }
    .c-global-nav__item:hover {
      color: #7c7c7c; }

/**
 * IcoMoon's SVG Icon
 *
 * @url https://icomoon.io/app
 */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #494949; }
  .icon.icon-cross, .icon.icon-menu {
    width: 1.5em;
    height: 1.5em; }

.icon-get-pocket {
  width: 0.9599609375em; }

.c-link, .c-brand {
  text-decoration: none;
  color: #494949;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
  .c-link:hover, .c-brand:hover {
    opacity: 0.7; }

.c-menu.active {
  background-color: #cccccc; }

.c-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0);
  transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  opacity: 0; }
  .c-overlay.isShow {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
    opacity: 1; }

.c-pager {
  margin-top: 40px !important; }
  .c-pager__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }
    .c-pager__list__item {
      width: 49%; }
      .c-pager__list__item--prev {
        float: left; }
      .c-pager__list__item--next {
        float: right;
        text-align: right; }

.c-post {
  text-decoration: none; }
  .c-post--has-thumb .c-post__title,
  .c-post--has-thumb .c-pub-time,
  .c-post--has-thumb .c-tag__item {
    color: #f6f6f6; }
  .c-post__header--over-img {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }
  .c-post__header__meta {
    margin-top: 0.4em; }
  .c-post__title {
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 500;
    color: #494949; }
    @media screen and (max-width: 768px) {
      .c-post__title {
        font-size: 1.4rem; } }
  .c-post__body {
    margin-top: 4rem; }
    .c-post__body * + * {
      margin-top: 0.9rem; }
    .c-post__body h2 {
      margin-top: 2.6em;
      line-height: 1.8;
      font-size: 1.5rem; }
    .c-post__body h3 {
      margin-top: 1.6em;
      line-height: 1.6;
      font-size: 1.4rem; }
    .c-post__body h4,
    .c-post__body h5 {
      margin-top: 1.6em;
      font-size: 1.2rem; }
    .c-post__body img {
      width: 100%; }
    .c-post__body pre {
      margin: 1.6rem 0;
      background-color: #383737;
      padding: 1em;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word; }
      .c-post__body pre code {
        width: 100%; }
    .c-post__body code {
      background-color: #383737;
      padding: 0.2em 0.4em;
      font-size: 0.9em;
      color: #f6f6f6; }
    .c-post__body blockquote {
      margin: 1.6rem 1.2rem;
      padding: 0 1em;
      border-left: 4px solid #b9b9b9;
      color: #b9b9b9; }
    .c-post__body p {
      line-height: 1.8; }
    .c-post__body a {
      color: #3779cc; }
      .c-post__body a:hover {
        text-decoration: none; }
  .c-post__footer {
    margin-top: 40px;
    border-top: 1px solid #a0a0a0; }
    .c-post__footer > * + * {
      margin-top: 20px; }

.c-pub-time {
  font-size: 15px;
  color: #494949; }

.related-articles {
  margin-top: 40px; }
  .related-articles__links {
    list-style-type: none;
    padding-left: 0; }
    .related-articles__links__item {
      margin-top: 2em; }

.related-article__link {
  text-decoration: none;
  font-size: 20.8px;
  color: #494949; }

.related-article__tags__item {
  font-size: 12.8px; }
  .related-article__tags__item + .related-article__tags__item::before {
    content: ',';
    display: inline-block;
    vertical-align: middle; }

.c-share {
  margin-top: 40px; }
  .c-share__list {
    margin-top: 10px; }
    .c-share__list__item {
      text-decoration: none; }
      .c-share__list__item + .c-share__list__item {
        margin-left: 0.5em; }

.c-tag {
  display: inline-block;
  margin-left: 0.6em; }
  .c-tag__item {
    text-decoration: none;
    font-size: 15px;
    color: #494949; }
    .c-tag__item::after {
      content: ','; }
    .c-tag__item:last-of-type::after {
      content: ''; }

.c-taxonomy-list {
  list-style-type: none;
  padding: 0;
  margin-left: -1em;
  margin-right: -1em; }
  .c-taxonomy-list__item {
    display: inline-block;
    margin: 0.6em 1em; }
    .c-taxonomy-list__item .c-link + span, .c-taxonomy-list__item .c-brand + span {
      margin-left: 0.3em;
      font-size: 0.9em; }

.c-thumb {
  margin-top: 40px; }
  .c-thumb::after {
    display: block;
    content: '';
    padding-top: 21.35417%; }

.p-archive .c-post {
  min-height: 164px;
  display: table;
  width: 100%;
  height: 100%; }

.p-archive .c-post__header {
  padding: 0 20px; }
  .p-archive .c-post__header--over-img {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

.p-single .c-post__title,
.p-single .c-pub-time,
.p-single .c-tag__item {
  color: #494949; }

.p-single .c-thumb:hover {
  background-size: 100%;
  opacity: 1; }
