{{ define "main" }}
  <div class="p-single">
    <div class="c-container">
      <article class="c-post">
        <header class="c-post__header">
          <h1 class="c-post__title">{{ .Title }}</h1>
          <div class="c-post__header__meta">
            <time class="c-pub-time" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00 " | safeHTML }}">
              {{ .Lastmod.Format ( .Site.Params.dateformat | default "2006.01.02") }}
            </time>
            {{ if .Params.tags }}
            <div class="c-tag">
              {{ range .Params.tags }}
              <a class="c-tag__item c-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>
            {{ end }}
          </div>
          {{ if .Params.image }}
          <div class="c-thumb c-bg-img" style="background-image: url('{{ .Params.image | absURL }}')"></div>
          {{ end }}
        </header>
        <div class="c-post__body">
          {{ .Content }}
        </div>

        <footer class="c-post__footer">
          {{ partial "share.html" . }}

          {{ partial "pager.html" . }}

          {{ partial "related.html" . }}
        </footer>
        {{ partial "json-single.html" . }}
      </article>
    </div>
  </div>
{{ end }}
