.c-bg-img {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  transition: 0.3s $ease-out-quart 0s;
  opacity: 1;

  &:hover {
    background-size: 110%;
    opacity: 0.8;
  }
}
