// Size
$document-width--small: 320px;
$document-width--medium: 768px;
$document-width--large: $document-width--medium;
$document-width--xlarge: $document-width--medium;

// Color
$color-primary: #ffffff;

$color-font-base: #494949;
$color-font-white: #f6f6f6;
$color-grey: #a0a0a0;
$color-medium-grey: #b9b9b9;

$font-base-size: 16px;

$border-base-color: $color-grey;

// Breakpoints
$breakpoints: (
  'small': 'screen and (max-width: #{$document-width--small})',
  'medium': 'screen and (max-width: #{$document-width--medium})',
  'large': 'screen and (max-width: #{$document-width--large})',
  // 'xlarge': 'screen and (max-width: #{$document-width--xlarge})',
) !default;


// Easing
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
