<header class="c-global-header">
  <div class="c-container c-container--medium">
    <div class="c-global-header__inner">
      <div class="c-global-header__primary">
        <h1 class="c-brand">
          <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
        <p class="c-description">{{ .Site.Params.description }}</p>
      </div>
      <div class="c-global-header__utility">
        <nav class="c-header-nav">
          {{ range .Site.Menus.global }}
          <a class="c-header-nav-item" href="{{ .URL }}">
            {{ .Name }}
          </a>
          {{ end }}
        </nav>
      </div>
    </div>
  </div>
</header>
